.slider {
    position: relative;

    width: 200px;
}

.sliderContainer {
    padding: 10px;
}

.sliderBlockContainer {
    display: flex;
    align-items: center;
}

.sliderTrack,
.sliderRange {
    position: absolute;
}

.sliderTrack,
.sliderRange {
    height: 5px;

    border-radius: 3px;
}

.sliderTrack {
    z-index: 1;

    width: 100%;

    background-color: #c3c3c3;
}

.sliderRange {
    z-index: 2;

    background-color: #f8686e;
}

.sliderVal {
    width: 50px;
    margin: 0;
    padding: 5px 10px;

    text-align: center;

    background: #fff;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;

    position: absolute;

    width: 200px;
    height: 0;

    outline: none;
}

.thumbLeft {
    z-index: 3;
}

.thumbRight {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    pointer-events: all;
    cursor: pointer;

    position: relative;

    width: 18px;
    height: 18px;
    margin-top: 4px;

    background-color: #fff;
    border: 3px solid #f82e34;
    border-radius: 50%;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    pointer-events: all;
    cursor: pointer;

    position: relative;

    width: 18px;
    height: 18px;
    margin-top: 4px;

    background-color: #fff;
    border: none;
    border-radius: 50%;
}
