.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 72px);
  padding: 60px 20px;

  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.loginContainer {
  min-width: 460px;
  padding: 45px 65px 65px 65px;

  background: #e2e6eb;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.loginContainer h1 {
  text-align: center;
}
p.fieldName {
  margin-bottom: 3px;
}
.labelField {
  display: block;

  margin-bottom: 20px;
}
.loginContainer input[type='text'],
.loginContainer input[type='password'] {
  width: 100%;

  border: 0;
}
.labelCheckbox {
  display: block;

  margin-top: 28px;
}
.forgotPassword {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: right;
}
.forgotPassword:hover {
  text-decoration: underline;
}
.signInBtn {
  width: 100%;

  font-size: 19px;
}
.registrationText {
  margin-top: 25px;
  margin-bottom: 15px;

  text-align: center;
}
.registrationLink {
  margin-bottom: 0;

  text-align: center;
  text-decoration: underline;
}