.titleAndButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.titleContainer h1 {
    margin-right: 10px;
}

.buttonsContainer {
    display: flex;
}

.buttonsContainer button {
    display: flex;
}

.buttonsContainer button:first-of-type {
    margin-right: 20px;
}

.buttonsContainer button:last-of-type svg {
    margin-right: 5px;
}

.cardsSearch {
    margin-bottom: 20px;
}

.arrowButton {
    position: absolute;
    top: 100px;
    left: 40px;
}

.cardImages {
    display: flex;
    justify-content: center;
}

.cardImages img {
    max-width: 100px;
    max-height: 50px;
}