.loading {
    opacity: 0.7;
}

.packsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.allOrMyPacks {
    text-align: center;
}

.img_not_available {
    max-width: 65px;
    max-height: 40px;
}

.cover_img {
    text-align: center !important;
}